/* !Use BUILT IN NEXTJS PLUGIN
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url("@mdi/font/css/materialdesignicons.css");


:root {
  --background: #11111b;
  --foreground: #cdd6f4;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #11111b;
    color: #cdd6f4;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: #dce0e0;
    color: #4c4f69;
  }
}